  <%= form_for current_user, url: reset_password_path, method: :post,
    :html => {:class => "form-horizontal"}  do |f| %>

  <div class="form-group">
    <%= f.label :current_password, :class => "col-md-2 control-label" %>
    <!-- <div class="col-md-2 control-label"> Current password </div> -->
      <div class="col-md-10">
        <%= f.password_field :current_password, :class => "form-control" %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => "col-md-2 control-label" %>
    <!-- <div class="col-md-2 control-label"> Password </div> -->
      <div class="col-md-10">
        <%= f.password_field :password, :class => "form-control" %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, :class => "col-md-2 control-label" %>
    <!-- <div class="col-md-2 control-label"> Password confirmation </div> -->
      <div class="col-md-10">
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit(:class => "btn btn-default") %>
    </div>
  </div>
<% end %>
