<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= flash[:error] = message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!-- <div class="field"> -->
  <div class="form-group">
    <%= f.label :first_name, :class => "col-md-2 control-label"%>
    <div class="col-md-10">
      <%= f.text_field :first_name, :class => "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, :class => "col-md-2 control-label"%>
    <div class="col-md-10">
      <%= f.text_field :last_name, :class => "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, :class => "col-md-2 control-label"%>
    <div class="col-md-10">
      <%= f.text_field :email, :class => "form-control"%>
    </div>
  </div>

    <div class="form-group">
    <%= f.label :role, :class => "col-md-2 control-label"%>
    <div class="col-md-10">
      <%= f.select :role, ["admin", "guest"], {:prompt => "Please select" }, {:class => "form-control" }%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => "col-md-2 control-label"%>
    <div class="col-md-10">
      <%= f.password_field :password, :class => "form-control"%>
    </div>
  </div>

  <!--
    <div class="form-group">
    <%= f.label :password_confirmation, :class => "col-md-2 control-label"%>
    <div class="col-md-10">
      <%= f.password_field :password_confirmation, :class => "form-control"%>
    </div>
  </div>

-->

<div class="form-group">
  <div class="col-md-offset-2 col-md-10">
    <%= f.check_box :changed_password %>
    <%= f.label :changed_password%>
  </div>
</div>

  <div class="form-group">
    <%= f.label :mobil_number, :class => "col-md-2 control-label"%>
    <div class="col-md-10">
      <%= f.text_field :mobil_number, :class => "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date_of_joining, :class => "col-md-2 control-label"%>
    <div class="col-md-10">
      <%= f.text_field :date_of_joining, :class => "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :exit_date, :class => "col-md-2 control-label"%>
    <div class="col-md-10">
      <%= f.text_field :exit_date, :class => "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.check_box :choir_active %>
      <%= f.label :choir_active%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.check_box :choir_passive %>
      <%= f.label :choir_passive%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :voice, :class => "col-md-2 control-label"%>
    <div class="col-md-10">
      <%= f.select :voice, ["Sopran", "Alt", "Tenor", "Bass"], { :prompt => "Please select" , :include_blank => true} , { :class => "form-control" } %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= link_to '<i class="glyphicon glyphicon-arrow-left"></i>'.html_safe,
        users_path, :class => "btn btn-primary", :title => "Back"%>
      <%= f.submit(:class => "btn btn-primary") %>
    </div>
  </div>
<% end %>
