<!-- <p id="notice"><%= notice %></p> -->

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h1>Listing users</h1>

<p>
<%= form_tag( users_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search", :class => "btn btn-default btn-s")  %>
<% end %>
</p>

<%= link_to 'All users', users_path, :class => "btn btn-default" %>

<%= link_to 'New user', new_user_path, :class => "btn btn-default" %>
  </div>
  <div class="panel-body">
<% if @users.any? %>
<div class="table-responsive">
  <table class="table table-striped">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Mobil number</th>
          <th>Date of joining</th>
          <th>Exit date</th>
          <th>Choir active</th>
          <th>Voice</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.mobil_number %></td>
            <td><%= user.date_of_joining %></td>
            <td><%= user.exit_date %></td>
            <td><%= check_box_tag :choir_active, 1, user.choir_active, :disabled => true %></td>
            <td><%= user.voice %></td>
            <td><%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, user, :title => "Show" %></td>
            <% if current_user.admin? %>
              <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_user_path(user), :title => "Edit" %></td>
              <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }, :title => "Destroy" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>no user available</p>
<% end %>
<br>
</div>