<!-- <p id="notice"><%= notice %></p> -->

<div class="panel panel-default">
  <div class="panel-heading"><h1>This User</h1></div>
  <div class="panel-body">
      <p>
        <strong>First name</strong>
        <%= @user.first_name %>
      </p>

      <p>
        <strong>Last name</strong>
        <%= @user.last_name %>
      </p>

      <p>
        <strong>Email</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Mobil number</strong>
        <%= @user.mobil_number %>
      </p>

      <p>
        <strong>Date of joining</strong>
        <%= @user.date_of_joining %>
      </p>

      <p>
        <strong>Exit date</strong>
        <%= @user.exit_date %>
      </p>

          <p>
        <strong>Choir active</strong>
        <%= check_box_tag :choir_active, 1, @user.choir_active, :disabled => true %>
      </p>

      <p>
        <strong>Voice</strong>
         <%= @user.voice %>
      </p>
  </div>
</div>


<%= link_to '<i class="glyphicon glyphicon-arrow-left"></i>'.html_safe, users_path, :class => "btn btn-default", :title => "Back" %> 
<%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_user_path(@user), :class => "btn btn-default", :title => "Edit" %>