<!-- <p id="notice"><%= notice %></p> -->

<div class="panel panel-default">
  <div class="panel-heading"><h1>This Song</h1></div>
  <div class="panel-body">
    <p>
      <strong>Number</strong>
      <%= @song.number %>
    </p>

    <p>
      <strong>Title</strong>
      <%= @song.title %>
    </p>

    <p>
      <strong>Composer</strong>
      <%= @song.composer %>
    </p>

    <p>
      <strong>Voice</strong>
       <!-- check_box_tag(name, value = "1", checked = false, options = {}) -->
      <p><%= check_box_tag :sopran, 1, @song.sopran, :disabled => true %> sopran</p>
      <p><%= check_box_tag :alt, 1, @song.alt, :disabled => true %> alt</p>
      <p><%= check_box_tag :tenor, 1, @song.tenor, :disabled => true %> tenor</p>
      <p><%= check_box_tag :bass, 1, @song.bass, :disabled => true %> bass</p>
    </p>

  </div>
</div>

<%= link_to '<i class="glyphicon glyphicon-arrow-left"></i>'.html_safe, songs_path, :class => "btn btn-default", :title => "Back" %> 
<%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_song_path(@song), :class => "btn btn-default", :title => "Edit" %>

<!-- <%= link_to 'Edit', edit_song_path(@song), :class => "btn btn-default btn-xs" %>
 -->